@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h1 {
    @apply py-4 text-4xl font-semibold;
  }
}

@layer components {
  .checklist {
    @apply rounded-lg bg-slate-800 px-3 py-1 shadow-md shadow-slate-600 hover:bg-slate-900 hover:text-green-500 hover:shadow-sm hover:shadow-slate-950;
  }
  .side-text {
    @apply my-3 flex items-center rounded-md px-3 py-2 text-xl font-semibold no-underline shadow-sm shadow-white transition-all hover:bg-[#eebbc3] hover:text-blue-950 hover:shadow-md hover:shadow-slate-300;
  }

  .containers {
    @apply flex min-h-screen flex-col bg-[#232946] p-5;
  }

  .icons {
    @apply px-2 text-4xl;
  }

  .list-task {
    @apply -mt-4 mb-[40px] box-border flex w-[60%] items-center justify-center rounded-md bg-[#55C89F] p-2 py-3 text-[#fff] shadow-lg transition-all duration-200 hover:bg-green-500;
  }

  .task-container {
    @apply flex-1 px-5 py-8;
  }

  .task-title {
    @apply mb-[40px] text-4xl text-[#fffffe];
  }

  .link-task {
    @apply mr-[24px] rounded-lg bg-[#ff8906] p-[16px] text-[#fffffe] no-underline shadow-lg transition-all duration-300 hover:bg-orange-600;
  }

  .task-button-wrapper {
    @apply relative mb-[30px] flex gap-5 text-[#0f0e17];
  }

  .list-button {
    @apply flex cursor-pointer items-center rounded-md bg-slate-200 p-[16px] text-[16px] shadow-sm  shadow-slate-200 transition-all duration-200 ease-in-out hover:bg-slate-200 hover:shadow-md hover:shadow-slate-300;
  }

  .list-container {
    @apply flex-1 p-5 text-white;
  }

  .table-head {
    @apply flex border-b-[1px] border-[#D8D8D8] text-[24px];
  }

  .tableHeaderTaskName {
    @apply w-[30%] p-[16px];
  }

  .tableHeaderDetail {
    @apply w-[30%] p-[16px];
  }

  .tableHeaderDueDate {
    @apply w-[20%] p-[16px];
  }

  .tableHeaderProgress {
    @apply w-[15%] p-[16px];
  }

  .table-body {
    @apply flex items-center border-b-[1px] border-[#D8D8D8] text-[20px];
  }

  .tableBodyTaskTitle {
    @apply overflow-any flex w-[30%] items-center border-r-[1px] border-[#D8D8D8] p-[16px];
  }

  .tableBodyDetail {
    @apply overflow-any w-[30%] border-r-[1px] border-[#D8D8D8] p-[16px];
  }

  .tableBodyDueDate {
    @apply w-[20%] border-r-[1px] border-[#D8D8D8] p-[16px];
  }

  .tableBodyprogress {
    @apply w-[15%] p-[16px];
  }
  .taskCard {
    @apply overflow-any relative my-3 rounded-md bg-[#eebbc3] p-6 text-xl text-[#232946] shadow-md shadow-slate-400;
  }
  .taskIcons {
    @apply flex justify-between;
  }
  .menuIcons {
    @apply cursor-pointer;
  }
  .cardTitle {
    @apply mt-3 py-2 text-3xl;
  }
  .cardDetail {
    @apply mb-8;
  }
  .cardIcons {
    @apply rounded-md p-2 text-white shadow-md transition-all duration-200 ease-in-out;
  }

  /* ! Froms */
  .modalContainer {
    @apply fixed left-[40%] top-[15%] z-10 w-[35%] items-center rounded-md border-2 border-[#232946] bg-[#eebbc3] p-10 text-[#232946] shadow-sm shadow-white;
  }
  .form {
    @apply text-2xl;
  }
  .formItem {
    @apply mb-4 flex flex-col justify-center;
  }
  .formInput {
    @apply my-1 h-10 rounded-md p-2 text-xl;
  }
  .formTextArea {
    @apply h-20 rounded-md text-xl;
  }
  .formButton {
    @apply rounded-md border-none bg-[#0e172c] px-6 py-3 text-xl text-white hover:bg-blue-950;
  }

  /* ! TaskMenu */
  .menu {
    @apply absolute right-3 z-10 rounded-md border-2 border-slate-400 bg-[#232946] px-2 py-1 text-[#fffffe] shadow-md shadow-slate-700 transition-all duration-300 ease-in-out;
  }
  .menuItem {
    @apply mb-2 flex cursor-pointer items-center rounded-md border-2 border-slate-400 px-3 py-1 shadow-md shadow-black transition-all duration-300 ease-in-out;
  }
  .closeIcon {
    @apply h-fit rounded-md border-2 border-red-400 p-1 text-red-600 shadow-md shadow-red-800 transition-all duration-300 ease-in-out hover:bg-pink-500 hover:text-red-900;
  }
}

* {
  user-select: none;
}

body {
  font-family: 'Inter';
  margin: 0;
  background-color: #0f0e17;
}

.overflow-any {
  overflow-wrap: anywhere !important;
}
